body {
    font-family: 'Dosis', sans-serif;
    
}
header {
    background: rgb(34, 30, 30);
    height: 50px
}
#logo_site {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 10%;
}

nav {
    position: absolute; 
}
nav li {
    position: relative;
    display: inline-block;
    /* cima, direita, baixo, esquerda  ou daria para colocar margin-left: 15px*/
    margin: 0 0 0 15px;  
}
nav a{
    position: relative;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    /* Tira qualquer decoração no texto */
    text-decoration: none;
    top:20px;
}
nav a:hover{
    color: rgb(220, 168, 23)
}
#exp_findly{
    left: 60%;   
}
#disciplina{
    left: 70%;

}
#perguntar{
    left:80%;
}
#contatar{
    left: 90%;
}
#login_cadastro{
    left: 180%;
}